* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    width: 1902px;
}

.header {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.col-text {
    border: 1px solid #efefef;
    padding: 10px;
}

.model {
    width: 396px;
}

.description {
    font-weight: bold;
}

.discount {
    font-weight: bolder;
    color: red;
}

.ex-price {
    text-decoration: line-through;
}