* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.h-container {
    height: 100px;
    background-color: rgb(255, 136, 0);
}

.h-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    width: 1230px;
}

.h-col span {
    font-size: 20px;
    font-weight: bold;
}

.h-row img {
    height: 50px;
}

main {
    margin: 0 auto;
    width: 1902px;
}

.header {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.container {
    margin: 0 auto;
    max-width: 80%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.col-text {
    border: 1px solid #efefef;
    padding: 10px;
}

/* da usare larghezza in % per immagine flex */

.model {
    width: 396px;
}

.description {
    font-weight: bold;
}

.discount {
    font-weight: bolder;
    color: red;
}

.ex-price {
    text-decoration: line-through;
}

.f-container {
    height: 100px;
    background-color: rgb(0, 0, 0);
}

.f-row {}

.f-col {}